.btn-i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background: #4caf50;
}

.btn-i:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.btn-i i {
  font-size: 1.75rem;
  user-select: none;
}
