body {
  background-color: #3b3a35;
  color: #e0e0e0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i {
  color: white;
}

hr {
  width: 400px;
  height: 1px;
  border: 0;
  background: #505050;
}

#container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.thing-section-title {
  text-align: center;
  margin-top: 2rem;
}

.thing-section {
  display: flex;
  justify-content: center;
}

.thing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  margin-bottom: 2rem;
}
