/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Grow */
.h-grow {
  transition: transform .2s;
}

.h-grow:hover {
  transform: scale(1.1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Tilt */
.h-tilt {
  transition: transform .2s;
}

.h-tilt:hover {
  transform: rotate(-10deg);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Grow & Tilt */
.h-grow-tilt {
  transition: transform .2s;
}

.h-grow-tilt:hover {
  transform: scale(1.1) rotate(-10deg);
}
