.loader-dots {
  display: flex;
}

.loader-dot {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: white;
  animation: loading .75s infinite;
  user-select: none;
}

.loader-dot:nth-of-type(2) {
  margin: 0 10px;
  animation-delay: .1s;
}

.loader-dot:nth-of-type(3) {
  animation-delay: .2s;
}

@keyframes loading {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.35);
  }

  100% {
    transform: scale(1);
  }
}
