#landing {
  height: 100vh;
  background: #353535;
  color: #eeeeee;
  padding: 2rem 6rem;
  overflow-y: auto;
}

#devs {
  margin-bottom: 5rem;
}

.card {
  background-color: #404040 !important;
  color: #dddddd;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.1);
}

.card:hover {
  cursor: pointer;
  background-color: #454545 !important;
}

#loading {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  opacity: .5;
}

.loading-element {
  width: .6rem;
  height: .6rem;
  margin: 0 .3rem;
  border-radius: 1rem;
  background: lightgray;
  animation: loading .75s infinite;
}

.loading-element:nth-of-type(2) {
  animation-delay: .1s;
}

.loading-element:nth-last-of-type(1) {
  animation-delay: .2s;
}

@keyframes loading {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
