<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/sandboxes/esfox/styles/esfox.css">
<link rel="stylesheet" href="/sandboxes/esfox/styles/elements.css">
<link rel="stylesheet" href="/sandboxes/esfox/styles/loaders.css">
<link rel="stylesheet" href="/sandboxes/esfox/styles/hover-animations.css">
<div id="container">
  <h1 class="heading">에스폭스의 페이지</h1>

    <h2 class="thing-section-title">Elements</h2>
    <hr/>
    <section class="thing-section">

      <div class="thing">
        <h3>Icon Button</h3>
        <div class="btn-i">
          <i class="material-icons">face</i>
        </div>
      </div>

    </section>

    <h2 class="thing-section-title">Hover Animations</h2>
    <hr/>
    <section class="thing-section">

      <div class="thing">
        <h3>Grow on hover</h3>
        <div class="btn-i h-grow">
          <i class="material-icons">person</i>
        </div>
      </div>

      <div class="thing">
        <h3>Tilt on hover</h3>
        <div class="btn-i h-tilt">
          <i class="material-icons">home</i>
        </div>
      </div>

      <div class="thing">
        <h3>Grow & tilt on hover</h3>
        <div class="btn-i h-grow-tilt">
          <i class="material-icons">edit</i>
        </div>
      </div>

    </section>

    <h2 class="thing-section-title">Loaders</h2>
    <hr/>
    <section class="thing-section">

      <div class="thing">
        <h3>Dots</h3>
        <div class="loader-dots">
          <div class="loader-dot"></div>
          <div class="loader-dot"></div>
          <div class="loader-dot"></div>
        </div>
      </div>

    </section>

  </div>

</div>
